/*------------------------------------------------------------------------

    Name: Full Width Slider 2.0
    Design and Develpment: Eightyclouds
    Author URI: http://www.eightyclouds.com
    Version: 1.0

--------------------------------------------------------------------------

   01. CSS Reset
   02. Slider Styles
   03. Media Query
   04. Custom
   
*/

/* ------------------------------- 1. Resets -------------------------------------- */

body .fws2 * {
    margin:0;
    padding:0;
    line-height: 1;
}

/* ------------------------------- 2. Slider Styles ------------------------------- */

.fws2 {
    position: relative;
    background:#000;
    width:1078px;
	margin:0 auto;
    overflow: hidden;
}

.fws2 .slider_container {
}

.fws2 .slide {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width:100%;
}

.fws2 .slide img {
    width:100%;
    height: auto;
    float:left;
}

.fws2 .slidePrev {
    background:url(../../img/themes2.png) no-repeat;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    left:-50px;
    opacity:0;
    z-index: 10;
}

.fws2 .slidePrev i {
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 32px;
    color:#FFF;
    line-height: 1.7;
    text-align: center;
}

.fws2 .slideNext {
    background:url(../../img/themes3.png) no-repeat;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    right:-50px;
    opacity:0;
    z-index: 10;
}

.fws2 .slideNext i {
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 32px;
    color:#FFF;
    line-height: 1.7;
    text-align: center;
}

.fws2 .timers {
    height:4px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
	display:none;
}

.fws2 .timer {
    height:4px;
    width:40px;
    background-color: #000;
    float:left;
    margin-right: 10px;
}

.fws2 .progress {
    height:4px;
    width:0%;
    background-color: #FC3;
    float:left;
}

.fws2 .bullets {
    position: absolute;
    bottom:-50px;
    z-index: 3;
    width:100%;
    text-align: center;
}

.fws2 .bullet {
    display: inline-table;
    cursor: pointer;
    padding:0 2px;
}

.fws2 .bullet i {
    color:#000;
    font-size: 15px;
    line-height: 1;
    -webkit-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

.fws2 .bullet.active i, .fws2 .bullet:hover i {
    color:#FFCC33;
}


.fws2 .slide_content {
    bottom:0;
    left:0;
    position: absolute;
    width:100%;
    height:10%;
	background:rgba(0,0,0,.8);
	
}

.fws2 .slide_content_wrap { /* Slider Text Content Container Style */
    position: absolute;
    left:0;
    top:0;
    display: none;
	
}


.fws2 .description { /* Slider Description Style */
	color:#d1b77c;
    font-size:18px;
    margin-top:2px;
    line-height:24px;
    font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
    font-weight: 400;
	margin-bottom:5px;
	
	
	
}

.fws2 .readmore { /* Slider Read More button Style */
    opacity: 0;
    clear:both;
    float:left;
    text-transform:uppercase;
    font-size:10px;
    color:#919191;
    background:#000;
    padding:10px;
    text-decoration: none;
    margin-top:2px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

.fws2 .readmore:hover {
    color:#fff;
}





/* ------------------------------- 3. Media Query ------------------------------- */



@media only screen and (min-width:1150px) and (max-width: 1450px) {

    .fws2 .slide_content_wrap { 
        margin-left:75px; 
        margin-top:15%; 
        max-width:1000px;

    }
    .fws2 .title { font-size:26px; }
    
}


@media only screen and (min-width:760px) and (max-width: 1149px) {
    .fws2 .slide_content_wrap { 
        margin-left:75px; 
        margin-top:15%; 
        max-width:640px;

    }
    .fws2 .title { font-size:26px; }
    
    
}

@media only screen and (max-width:759px) {


    .fws2 .slide_content_wrap {
        top:0 !important;
        left:0 !important;
        margin:0 !important;
        width:100%;
        height:100%;
    }

    .fws2 .slide_content_wrap h4, 
    .fws2 .slide_content_wrap p { 
        display:none !important; 
    }
    .fws2 .slide_content_wrap a {
        opacity:0 !important;
        background: none !important;
        font-size: 0 !important;
        width:100%;
        height: 100%;
        margin:0 !important;
        padding:0 !important;
        float:left;
    }


    .fws2 .timers { display:none; }
    .fws2 .bullets { display:none; }
    .fws2 .slide_content {cursor: pointer;}

}


/* ------------------------------- 4. Custom -------------------------------------- */